<div class="wrapper">
<form class="form-signin" name="frmLogin" ng-submit="login()">       
  <h2 class="form-signin-heading">Login</h2>
  <div class= "alert alert-danger" ng-if="loginErr"><strong>{{loginErr}}</strong></div>

   <div class="form-group" ng-class="{ 'has-error' : frmLogin.email.$invalid && !frmLogin.email.$pristine }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.username" required>
        <p ng-show="frmLogin.email.$invalid && !frmLogin.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>


    <div class="form-group" ng-class="{ 'has-error' : frmLogin.password.$invalid && !frmLogin.password.$pristine }">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>
        <p ng-show="frmLogin.password.$invalid && !frmLogin.password.$pristine" class="help-block">Password is required.</p>
    </div>

    <div class="form-group">
  		<button class="btn btn-primary" type="submit" ng-disabled="frmLogin.$invalid">Login</button>
  	</div>	

	<div class="form-group">
		<a ui-sref="home.forgot">Forgot password</a> 
	</div>
  
	</form>
</div>