<div class="wrapper">
<form class="form-signin">       
  <h2 class="form-signin-heading">Please login</h2>
  <input type="text" class="form-control" ng-model="user.username" placeholder="Email Address" required="" autofocus="" />
  <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required=""/>      
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click=login()>Login</button>
  <a ui-sref="signup">Signup</a> | <a ui-sref="forgot">Forgot password</a>  
</form>
</div>
