<div class="wrapper" ng-hide="success">
  <form class="form-signin" name="frmResetPassword" novalidate ng-submit="resetPassword()">       
    <h2 class="form-signin-heading">Change Password</h2>
    <div class= "alert alert-danger" ng-if="error"><strong>{{error}}</strong></div>
      <div class="form-group" ng-class="{ 'has-error' : frmResetPassword.password.$invalid && !frmResetPassword.password.$pristine }">
          <label>New password</label>
          <input type="password" name="password" class="form-control" ng-model="password" required ng-minlength="6">
          <p ng-show="frmResetPassword.password.$error.minlength || frmResetPassword.password.$invalid && !frmResetPassword.password.$pristine" class="help-block">Minimum 6 characters required</p>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : frmResetPassword.confirmPassword.$invalid && !frmResetPassword.confirmPassword.$pristine }">
          <label>Confirm password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="confirmPassword" required compare-to="password">
          <p ng-show="frmResetPassword.confirmPassword.$invalid && !frmResetPassword.confirmPassword.$pristine" class="help-block">Password and confirm password should be same</p>
      </div>

      <div class="form-group">
    		<button class="btn btn-primary" type="submit" ng-disabled="frmResetPassword.$invalid">Save</button>
    	</div>
    
  </form>
</div>

<div class="container" ng-show="success">

    <div class="alert alert-success">
      Password changed successfully
    </div>
    <p>Click <a ui-sref="app.login">here</a> to login</p>

</div>